.header-label{
  font-size: 40px;
  font-weight: bold;
  margin: 20px 100px;
}


.generate-list-button{
  background-color: aqua;
  width: 220px;
  height: 50px;
  border: 1px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  margin: 40px 10px 40px 20px;
  flex-direction: row;
}

.return-button{
  background-color: aqua;
  width: 220px;
  height: 50px;
  border: 1px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
}

.list-on-button{
  background-color: aqua;
  width: 220px;
  height: 50px;
  border: 1px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  margin: 40px 20px 40px 20px;
  flex-direction: row;
}

.body-line{
  display: flexbox;
  margin: 20px 100px 20px 80px;
  
}


.body-label{
  font-size: 30px;
  font-weight: bold;
  margin: 20px 100px;
  min-width: 200px;
  size: 200px 40px;
}