body{
  background-image: url('../images/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1{
  font-size: 36px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  

}









