body{
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  min-width: 800px;
}

h1{
  font-size: 36px;
  text-align: center;
  margin-top: 50px;

}

.header-container{
  display: flexbox;
  margin: 30px 20px 30px 20px;
}

.header-label{
  font-size: 40px;
  font-weight: bold;
  margin: 20px 100px;
}

.body-line{
  display: flexbox;
  margin: 20px 100px 20px 80px;
  
}

.body-label{
  font-size: 30px;
  font-weight: bold;
  margin: 20px 100px;
  min-width: 200px;
  size: 200px 40px;
}

.login-button{
  background-color: aqua;
  width: 300px;
  height: 50px;
  border: 1px;
  border-radius: 25px;
  font-size: 30px;
  font-weight: bold;
  margin: 40px 200px;
  display: inline;
}

.menu-container{
  display: flexbox;
}
.generate-list-button{
  background-color: aqua;
  width: 220px;
  height: 50px;
  border: 1px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  margin: 40px 10px 40px 20px;
  flex-direction: row;
}

.return-button{
  background-color: aqua;
  width: 220px;
  height: 50px;
  border: 1px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  margin: 40px 20px 40px 20px;
  flex-direction: row;
}

.list-on-button{
  background-color: aqua;
  width: 220px;
  height: 50px;
  border: 1px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  margin: 40px 20px 40px 20px;
  flex-direction: row;
}

.username-label{
    font-size: 20px;
    margin: 100px 41px 20px 150px;
}

.phrase-label{
    font-size: 20px;
    margin: 100px 20px 20px 150px;
}

.login-input{
  font-size: 18px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px;
  padding-left: 10px;
}

.login-container{
  margin-top: 100px;
}

.hide-button{
  display: none;
}


.results-text{
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}

.admin-button{
  background-color: aqua;
  width: 300px;
  height: 50px;
  border: 1px;
  border-radius: 25px;
  font-size: 30px;
  font-weight: bold;
  margin: 40px 200px;
  display: none;
}

.admin-link{
  align-items: center;
  align-content: center;
}

.show-admin-button{
  display: block;
}



